{% extends 'base.html' %}



{% block content %}


<div id="app">
  {% if not current_user %}
    {% include 'popup.html' %}
    <script>
    showPopup();  
    </script>
        {% endif %}
  <div class="chat-header">
    <h1>Chat Room</h1>
  </div>
  <div class="chat-box">
    {% for message in messages %}
    <div class="message">
        {% ifchanged message.user %}
        <div class="message-author" style="color:{{ message.user.color }}">
          {{ message.user.username }}:
        </div>
        {% endifchanged %}
        <div class="message-text">
          {{ message.text }}
        {% if current_user == message.user %}
          <div class="editsign">
            edit message
          </div>
        {% endif %}
        <span class="sent">{{ message.created_at }}</span>
        </div>
    </div>
    {% endfor %}
    


  </div>
  <div class="chat-input">
    <form method="POST" action="{% url 'chat:submit_message' %}" id="message-form">
      {% csrf_token %}
      <input class="input-form" type="text" name="message_text" autocomplete="off" maxlength="255" placeholder="Type your message here">
      <button class="submit-message" type="submit">Send</button>
    </form>
  </div>
  <script>
    scrollToBottom();
  </script>
</div>
  

{% endblock %}