{% extends 'base.html' %}



{% block content %}


<div id="app">
  {% if show_popup %}
    {% include 'popup.html' %}
    <script>
      function sendLogin(username) {
        console.log(username);
        $.ajax({
          url: "/login",
          method: "POST",
          data: {
            username: username,
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() // include the CSRF token
          },
          success: function(response) {
            // Set the JWT token in a cookie
            document.cookie = "jwt_token=" + response.token;
            $("#overlay").hide();
            $("#popup-container").hide();
          },
          error: function(jqXHR, textStatus, errorThrown) {
            alert("An error occurred: " + errorThrown);
          }
        });
      }

      $(document).ready(function() {
        $("#overlay").show();
        $("#popup-container").show();

        // Submit the form
        $("#username-form").submit(function(e) {
          e.preventDefault();
          var username = $("#username").val();
          if (username) {
            sendLogin(username);
          } else {
            alert("Please enter a username.");
          }
        });
        
        // Log in anonymously
        $("#anonymous-button").click(function() {
          sendLogin("Anonymous");
        });
      });
  </script>
        {% endif %}
  <div class="chat-header">
    <h1>Chat Room</h1>
  </div>
  <div class="chat-box">
    <div class="message">
      {% for message in messages %}
          <div class="message-author">
            {{ message.by_user.username }}
          </div>
          <div class="message-text">
            {{ message.text }}
          </div>
      {% endfor %}
    </div>
  </div>
  <div class="chat-input">
    <form method="POST" action="{% url 'chat:submit_message' %}">
      {% csrf_token %}
      <input type="text" name="message_text" placeholder="Type your message here">
      <button type="submit">Send</button>
    </form>
  </div>
</div>
  

{% endblock %}