<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Let's chat!</h1>
    
    <form type="text" id="form">
        <input type="text" name="message">
    </form>
    <script>
        const chatSocket = new WebSocket(
                'ws://'
                + "127.0.0.1:8001"
                + '/ws/chat/'
            );
        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)
            console.log("Data:", data)
        }
        let form = document.getElementById('form');
        form.addEventListener('submit', function(e) {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message':message,
            }))
            form.reset()
        })



</script>


</body>
</html>